$sm: 400px;
$tab: 768px;

@mixin flexItem($align-items: inherit, $content: space-between) {
  display: flex;
  justify-content: $content;
  flex-wrap: wrap;
  align-items: $align-items;
}

@mixin sp {
  @media (max-width: ($sm)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

.pc {
  @include tab {
    display: none !important;
  }
}

.tab {
  display: none !important;
  @include tab {
    display: block !important;
  }
}

img {
  width: 100%;
  height: auto;
}

* {
  font-family: "Shippori Mincho", serif;
}

a {
  text-decoration: none;
  color: inherit;
}

// header

.header {
  height: 70px;
  line-height: 70px;
  margin: 0 40px;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  z-index: 10;

  &_logo {
    margin-right: 100px;
    font-size: 30px;
    line-height: 70px;
    display: inline-block;
  }
  &-nav {
    display: inline-block;

    &_ul {
      display: flex;
    }

    &_list {
      line-height: 70px;
      margin-right: 40px;
    }
  }
}

.firstview {
  min-height: 600px;
  background: url(../img/firstview.png) no-repeat;
  background-size: cover;
  position: relative;

  @include tab {
    background: url(../img/firstview-sp.png) no-repeat;
    background-size: cover;
  }

  &_content {
    position: absolute;
    top: 50%;
    left: 10%;
    color: white;
    text-align: center;

    @include sp {
      left: 50%;
      width: 90%;
      transform: translate(-50%, -50%);
    }
  }

  &_catchcopy {
    font-size: 60px;
  }

  &_txt {
    font-size: 20px;
    padding-top: 30px;
  }
}

// topics

.topics {
  @include flexItem;

  &_item {
    width: 33.3333%;
    position: relative;
    display: block;
    @include sp {
      width: 100%;
    }

    &-content {
      position: absolute;
      bottom: 0;
      color: white;
      padding: 20px;
    }

    &-ttl {
      font-size: 25px;
      font-weight: 700px;
      margin-bottom: 20px;
      @include tab {
        font-size: 20px;
      }
    }
  }
}

// styles

.styles {
  background: gray;
  padding: 60px 0;

  &-ttl {
    font-size: 40px;
    color: black;
    max-width: 1000px;
    margin: 0 auto 40px;
    width: 90%;
  }
  &-wrap {
    @include flexItem;
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;

    &_item {
      width: 30%;
      margin-bottom: 30px;
      @include tab {
        width: 49%;
      }
    }
  }
}

// about

.about {
  padding: 60px 0;
  background: black;

  &_inner {
    @include flexItem(center);
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
  }

  &_img {
    width: 40%;
    @include sp {
      width: 100%;
    }
  }

  &_content {
    width: 50%;
    color: white;
    @include tab {
      width: 60%;
    }
    @include sp {
      width: 100%;
      margin-top: 40px;
      text-align: center;
    }

    &-ttl {
      font-size: 40px;
      font-weight: 700px;
      margin: 20px 0 40px 0;
    }

    &-subttl {
      font-size: 24px;
    }

    &-new {
      margin-bottom: 20px;
      display: block;
    }

    &-txt {
      margin-bottom: 25px;
    }
  }

  &-btn {
    border: 3px solid white;
    color: white;
    padding: 20px 35px;
    display: inline-block;
  }

  &-btn:hover {
    color: black;
    background-color: white;
    transition: 0.4s;
  }
}

.footer {
  background: black;
  color: white;

  &_copyright {
    height: 70px;
    line-height: 70px;
    text-align: center;
    display: block;
  }
}
